@import "./tokens.css";
@import "./components/navbar.css";
@import "./components/stat-card.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

.stats-preview {
  display: grid;
}

@media (min-width: 48rem) {
  .stats-preview {
    grid-template-columns: repeat(2, 1fr);
  }
}
